@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html {
    background-color: #5E0006;
    color: ivory;
    font-family: 'Rubik', sans-serif;
}


#board {
    position: absolute;
    width: 410px;
    height: 410px;
    background-color: #9B0F06;
    box-shadow: 0 0 20px #e88048;
    top: 100px;
    left: 100px;
    border-radius: 2%;
}

.tile {
    font-size: small;
    text-align: center;
    position: absolute;
    border-radius: 20%;
    width: 25px;
    height: 25px;
    background-color: #D53E0F;
    border: 1px solid #ffff00;
    margin: 10px;
    box-shadow: 2px 2px #270101;
}

.bomb {
    background-color: black;
    border-radius: 50%;
}